@font-face {
    font-family: titleFont;
    src: url(assets/fonts/DelaGothicOne-Regular.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(assets/fonts/Baloo2-Medium.ttf);
}

body {
    background-color: #353535;
}

canvas {
    overflow: hidden;
}

.startScreen {
    font-family: titleFont;
    font-size: 70px;
    text-decoration: underline;
    text-shadow: 2px 2px #353535;
}

.messageBox {
    background-color: gray; 
    padding: 30px; 
    width: 900px;
    font-size: 25px;
    color: white;
    font-family: bodyFont;
    border-radius: 28px;
    position: absolute;
    bottom: 0px;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: 10;
}

.npcName {
    position: absolute; 
    top: -75px;
    left: 0px;
    border-radius: 28px;
    padding: 25px;
    font-size: 30px;
    font-family: titleFont;
    text-shadow: 2px 2px #353535;
    text-decoration: underline;
}

.npcInstruction {
    position: absolute;
    top: -30px;
    right: 35px;
    font-size: 15px;
    font-family: bodyFont;
    text-shadow: 2px 2px #353535;
    opacity: 0.6;
}

.nameInput {
    position: absolute;
    left: 90px;
    top: 560px;
    font-size: 20px;
    font-family: bodyFont;
    padding: 8px;
    width: 300px;
    text-align: center;
}

.inputButton {
    position: absolute;
    left: 409px;
    top: 560px;
    font-size: 20px;
    font-family: bodyFont;
    padding: 8px 20px;
    border-radius: 0 30px 30px 0;
}
